<div id="happythemes-gg-2" class="widget widget_gg gg-widget">
    <div class="ggwidget">
        <a href="#" target="_blank">
            <img src="/<%-CONFIG.THEME_STATIC%>/static/images/gg-1.jpg" alt="">
        </a>
    </div>
    <h2 class="widget-title" style="display: block;">广告位出租</h2>
</div>

<div id="happythemes-gg-3" class="widget widget_gg gg-widget">
    <div class="ggwidget"><a href="https://www.zhutibaba.com/" target="_blank"><img src="/<%-CONFIG.THEME_STATIC%>/static/images/gg-2.jpg"
                alt=""></a></div>
    <h2 class="widget-title" style="display: block;">广告</h2>
</div>