<header id="masthead" class="site-header clear">
        <div class="container">
            <div class="site-branding">
                <div id="logo">
                    <span class="helper"></span>
                    <a href="/" class="custom-logo-link" rel="home" itemprop="url">
                        <img width="129" height="60" src="/<%-CONSTANT.THEME_STATIC%>/images/cropped-logo.png"
                            class="custom-logo" alt="<%-WEB_CONFIG.site.subtitle%>" itemprop="logo">   
                    </a>
                </div><!-- #logo -->
            </div><!-- .site-branding -->
            <nav id="primary-nav" class="primary-navigation">
                <div class="menu-top-container">
                    <ul id="primary-menu" class="sf-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                        <li id="menu-item-226" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-226"><a
                                href="/?home-layout=two-col-layout">新首页</a></li>
                        <li id="menu-item-227" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-227"><a
                                href="/136.html" class="sf-with-ul">新文章页</a>
                            <ul class="sub-menu" style="display: none;">
                                <li id="menu-item-260" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-260">
                                    <a href="/204.html">
                                        无左侧导航栏（带幻灯片）
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-273" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-273"><a
                                href="/category/keji" class="sf-with-ul">分类目录</a>
                            <ul class="sub-menu" style="display: none;">
                                <li id="menu-item-263" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-263"><a
                                        href="/category/xinwen" class="sf-with-ul">新闻快报</a>
                                    <ul class="sub-menu" style="display: none;">
                                        <li id="menu-item-270" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-270">
                                            <a href="/category/xinwen">
                                                子菜单 1</a>
                                        </li>
                                        <li id="menu-item-271" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-271">
                                            <a href="/category/xinwen">
                                                子菜单 2
                                            </a>
                                        </li>
                                        <li id="menu-item-272" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-272">
                                            <a href="/category/xinwen">
                                                子菜单 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-266" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-266"><a
                                        href="/category/keji">科技创新</a></li>
                                <li id="menu-item-265" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-265"><a
                                        href="/category/qiche">汽车资讯</a></li>
                                <li id="menu-item-264" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-264"><a
                                        href="/category/lvyou">旅游攻略</a></li>
                                <li id="menu-item-261" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-261"><a
                                        href="/category/tiyu">体育视界</a></li>
                                <li id="menu-item-268" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-268"><a
                                        href="/category/caijing">财经专栏</a></li>
                                <li id="menu-item-267" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-267"><a
                                        href="/category/meishi">美食天地</a></li>
                                <li id="menu-item-262" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-262"><a
                                        href="/category/sheying">摄影交流</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a
                                href="/full-width">全宽页面</a></li>
                        <li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a
                                href="/customizer">主题设置</a></li>
                        <li id="menu-item-299" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-299"><a
                                href="https://www.zhutibaba.com/news/150.html">下载主题</a></li>
                    </ul>
                </div>
            </nav><!-- #primary-nav -->
    
            <div id="slick-mobile-menu"></div>
    
            <span class="search-icon">
                <span class="genericon genericon-search"> <span>搜索</span></span>
                <span class="genericon genericon-close"> <span>收起</span></span>
            </span>
    
            <div class="header-search">
                <form id="searchform" method="get" action="/">
                    <input type="search" name="s" class="search-input" placeholder="请输入关键字" autocomplete="off">
                    <button type="submit" class="search-submit">搜索</button>
                </form>
            </div><!-- .header-search -->
    
        </div><!-- .container -->
    
    </header><!-- #masthead -->