<div class="bottom-right">
  <div class="icon-contact tooltip bottom-icon"> <span class="icon-link"> <span class="icon"><i
          class="fa fa-phone"></i></span> <span class="text">联系我们</span> </span>
    <div class="left-space">
      <div class="left">
        <div class="contact-info">
          <h3>联系我们</h3> <strong><%-WEB_CONFIG.site.phone%></strong>
          <p>在线咨询: <a href="http://wpa.qq.com/msgrd?v=3&uin=<%-WEB_CONFIG.site.qq%>&site=qq&menu=yes" target="_blank">
            <img src="<%-CONSTANT.THEME_STATIC%>/images/qqchat.gif" alt="QQ交谈" /></a>
          </p>
          <p>邮箱: <%-WEB_CONFIG.site.email%></p>
          <p>工作时间：周一至周五，9:00-17:30，节假日休息</p>
        </div> <i></i>
      </div>
    </div>
  </div>
  <div class="icon-weixin tooltip bottom-icon"> <span class="icon-link">
    <span class="icon">
      <i class="fa fa-wechat"></i></span>
      <span class="text">关注微信</span>
    </span>
    <div class="left-space">
      <div class="left"> <img
          src="<%-WEB_CONFIG.site.qrWxpub%>"
          alt="微信扫一扫关注我们" />
        <h3>微信扫一扫关注我们</h3> <i></i>
      </div>
    </div>
  </div>
  <div class="icon-weibo bottom-icon">
    <a href="<%-WEB_CONFIG.site.weibo%>" target="_blank">
      <span class="icon">
        <i class="fa fa-weibo"></i>
      </span>
      <span class="text">关注微博</span>
    </a>
  </div>
  <div id="back-top" class="bottom-icon">
    <a href="#top" title="返回顶部">
      <span class="icon">
        <i class="fa fa-chevron-up"></i>
      </span>
      <span class="text">返回顶部</span>
    </a>
  </div>
</div>