<link type="text/css" media="all" href="<%-CONSTANT.THEME_STATIC%>/css/common.css" rel="stylesheet" />
<header id="masthead" class="site-header clear">
  <div class="container">
    <div class="site-branding">
      <div id="logo"> <span class="helper"></span>
        <a href="/" class="custom-logo-link" rel="home" itemprop="url">
          <img width="190" height="110" src="<%-WEB_CONFIG.site.logo%>" class="custom-logo" alt="<%-WEB_CONFIG.site.subtitle%>" itemprop="logo" />
        </a>
      </div>
    </div>
    <nav id="primary-nav" class="primary-navigation tablet_menu_col_5 phone_menu_col_5">
      <div class="menu-primary-container">
        <ul id="primary-menu" class="sf-menu">
          <li id="menu-item-1"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1 <% if (RENDER_PARAM.pageType === 'home') { %>current-menu-item<% } %>">
            <a href="/" aria-current="page">首页</a>
          </li>
          <% WEB_CONFIG.menus.top.forEach(function(menu, index) { %>
          <% if (menu.isValid) { %>
          <li id="menu-item-<%-menu.alias%>"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-<%-menu.alias%> <% if (menu.hasChild) { %>menu-item-has-children<% } %>">
            <a href="<%-menu.link%>"><%-menu.name%></a>
            <% if (menu.hasChild) { %>
            <ul class="sub-menu">
              <% menu.children.forEach(function(subMenu, index) { %>
              <% if (subMenu.isValid) { %>
              <li id="menu-item-<%-subMenu.alias%>"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-<%-subMenu.alias%>">
                <a href="<%-subMenu.link%>"><%-subMenu.name%></a>
              </li>
              <% } %>
              <% }) %>
            </ul>
            <% } %>
          </li>
          <% } %>
          <% }) %>
        </ul>
      </div>
    </nav>
    <div class="header-right">
      <ul>
        <% if (WEB_CONFIG.site.boolWebReg) { %>
        <li class="header-login">
          <a href="javascript:void(0);" title="登录">登录</a>
        </li>
        <li class="header-register">
          <a href="javascript:void(0);" title="注册">注册</a>
        </li>
        <li class="header-submit">
          <a href="javascript:void(0);" title="用户投稿">投稿</a>
        </li>
        <% } %>
        <li class="header-search-icon">
          <span class="search-icon">
            <i class="fa fa-search"></i>
            <i class="fa fa-close"></i>
          </span>
        </li>
      </ul>
      <div class="header-search">
        <form id="searchform" method="get" action="/s">
          <input type="search" name="s" class="search-input" placeholder="请输入关键字" autocomplete="off" <% if ( RENDER_PARAM.pageType === 'search' && RENDER_PARAM.keyword ) { %>value="<%-RENDER_PARAM.keyword%>"<% } %>">
          <button type="submit" class="search-submit">搜索</button>
        </form>
      </div>
    </div>
  </div>
</header>