<footer id="colophon" class="site-footer ">

    <div class="footer-columns <% if ( RENDER_PARAM.pageType === 404 || RENDER_PARAM.pageType === 'page' ) { %>container<% } else { %>footer-container<% } %> clear >">

        <div class="footer-column footer-column-1 ht_grid_1_4">
            <div id="zimeiti_1-recent-2" class="widget footer-widget widget-zimeiti_1-recent widget_posts_thumbnail">
                <h3 class="widget-title">近期文章</h3>
                <ul>
                    <% RENDER_DATA.recentArticles3.forEach(function(article, index) { %>
                    <li class="clear">
                        <a href="/<%-article.numberId%>.html" rel="bookmark">
                            <div class="thumbnail-wrap">
                                <img width="120" height="80" src="<%-article.poster%>" class="attachment-zimeiti_1_widget_post_thumb size-zimeiti_1_widget_post_thumb wp-post-image" alt="<%-article.title%>">
                            </div>
                        </a>
                        <div class="entry-wrap">
                            <a href="/<%-article.numberId%>.html" rel="bookmark"><%-article.title%></a>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>

        <div class="footer-column footer-column-2 ht_grid_1_4">
            <div id="zimeiti_1-random-2" class="widget footer-widget widget-zimeiti_1-random widget_posts_thumbnail">
                <h3 class="widget-title">随机文章</h3>
                <ul>
                    <% RENDER_DATA.randomArticles3.forEach(function(article, index) { %>
                    <li class="clear">
                        <a href="/<%-article.numberId%>.html" rel="bookmark">
                            <div class="thumbnail-wrap">
                                <img width="120" height="80" src="<%-article.poster%>"
                                    class="attachment-zimeiti_1_widget_post_thumb size-zimeiti_1_widget_post_thumb wp-post-image"
                                    alt="<%-article.title%>">
                            </div>
                        </a>
                        <div class="entry-wrap">
                            <a href="/<%-article.numberId%>.html" rel="bookmark">
                                <%-article.title%>
                            </a>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="footer-column footer-column-3 ht_grid_1_4">
            <div id="recent-comments-2" class="widget footer-widget widget_recent_comments">
                <h3 class="widget-title">近期评论</h3>
                <ul id="recentcomments">
                    <% RENDER_DATA.recentComments3.forEach(function(comment, index) { %>
                    <li class="recentcomments">
                        <span class="comment-author-link"> <%-comment.authorNickname%></span>发表在《<a href="/<%-comment.articleId.numberId%>.html#comment-<%-comment._id%>"><%-comment.articleId.title%></a>》
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="footer-column footer-column-4 ht_grid_1_4">
            <div id="text-2" class="widget footer-widget widget_text">
                <h3 class="widget-title">关于
                    <%-WEB_CONFIG.site.subtitle%>
                </h3>
                <div class="textwidget">
                    <%-WEB_CONFIG.site.about%>
                    <% if ( WEB_CONFIG.site.articleStatement !== '') {%>
                    <div class="tips">
                        <%-WEB_CONFIG.site.articleStatement%>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div><!-- .footer-columns -->
    <div class="clear"></div>

    <div id="site-bottom" class="clear">

        <div class="container">

            <div class="menu-top-container">
                <ul id="footer-menu" class="footer-nav">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="/index.html">
                            首页
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="/<%-WEB_CONFIG.categories[0].alias%>.html">
                            信息分类
                        </a>
                    </li>
                    <% WEB_CONFIG.menus.forEach(function(menu, index) { %>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="<%-menu.link%>"><%-menu.name%></a>
                    </li>
                    <% }) %>
                </ul>
            </div>

            <div class="site-info">

                <%-WEB_CONFIG.site.footHTML%>

                <% if ( WEB_CONFIG.site.icp ) { %>
                <div class="icp">
                    <a href="http://www.miitbeian.gov.cn/">
                        <%-WEB_CONFIG.site.icp%></a>
                </div>
                <% } %>

            </div><!-- .site-info -->

        </div><!-- .container -->

    </div>
    <!-- #site-bottom -->

</footer><!-- #colophon -->
</div><!-- #page -->
<script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/js/superfish.js"></script>
<script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/js/jquery.slicknav.js"></script>
<script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/js/modernizr.js"></script>
<script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/js/html5.js"></script>
<script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/js/infinite-scroll.pkgd.min.js"></script>
<script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/js/jquery.sticky.js"></script>
<script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/js/jquery.custom.js"></script>
<script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/js/gg.js"></script>

<div id="back-top">
    <a href="#top" title="返回顶部"><span class="genericon genericon-collapse"></span></a>
</div>
<script>
    (function ($) { //create closure so we can safely use $ as alias for jQuery
        $(document).ready(function () {
            "use strict";
            /*-----------------------------------------------------------------------------------*/
            /*  Sticky Breadcrumbs
            /*-----------------------------------------------------------------------------------*/
            $(window).scroll(function () {
                var aTop = 200;
                if (($(this).scrollTop() >= aTop)) {
                    $('.single .site-main .entry-header').addClass('sticky-breadcrumbs');
                    $('.single #primary RENDER_PARAM.article.hentry').css('padding-top', '110px');
                    $('#single-sticky').addClass(' container');
                    $('.single .left-col').addClass('header-scrolled');
                } else {
                    $('.single .site-main .entry-header').removeClass('sticky-breadcrumbs');
                    $('.single #primary RENDER_PARAM.article.hentry').css('padding-top', '0');
                    $('#single-sticky').removeClass(' container');
                    $('.single .left-col').removeClass('header-scrolled');
                }
            });
            /*-----------------------------------------------------------------------------------*/
            /*  Sticky Left Navigation
            /*-----------------------------------------------------------------------------------*/

            $(".left-col").sticky({ topSpacing: 0 });

            /*-----------------------------------------------------------------------------------*/
            /*  Slick Mobile Menu
            /*-----------------------------------------------------------------------------------*/
            $('#primary-menu').slicknav({
                prependTo: '#slick-mobile-menu',
                allowParentLinks: true,
                label: '导航'
            });
        });
    })(jQuery);
</script>