<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title><%- WEB_CONFIG.site.title %></title>
    <meta name="keywords" content="<%- WEB_CONFIG.site.keywords %>" />
    <meta name="description" content="<%- WEB_CONFIG.site.description %>" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="canonical" href="<%-WEB_CONFIG.origin%><%-WEB_CONFIG.path%>" />
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <link rel="dns-prefetch" href="http://bdimg.share.baidu.com" />
    <link rel="dns-prefetch" href="http://nsclick.baidu.com" />
    <link rel="dns-prefetch" href="http://hm.baidu.com" />
    <link rel="dns-prefetch" href="http://eiv.baidu.com" />
    <link rel="dns-prefetch" href="http://img.jb51.net" />

    <link rel="stylesheet" id="zimeiti-1-style-css" href="<%-CONSTANT.THEME_STATIC%>/static/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="genericons-style-css" href="<%-CONSTANT.THEME_STATIC%>/static/css/genericons.css" type="text/css" media="all">
    <link rel="stylesheet" id="zimeiti-1-responsive-style-css" href="<%-CONSTANT.THEME_STATIC%>/static/css/responsive.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="genericons-style-css" href="<%-CONSTANT.THEME_STATIC%>/static/css/theme-colors.css" type="text/css" media="all">
    <script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/static/js/jquery.js"></script>
    <script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/static/js/jquery-migrate.min.js"></script>
</head>