<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <% include ../common/head.html %>
</head>

<body class="error404 wp-custom-logo hfeed">
  <div id="page" class="site">
    
    <% include ../common/top-menu.html %>

    <div id="content" class="site-content site_container container clear">
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <section class="error-404">
            <header class="page-header">
              <h1 class="page-title">
                未找到页面
              </h1>
            </header>
            <div class="entry-content">
              <p>
                <form id="searchform" method="get" action="/s">
                  <input type="search" name="s" class="search-input" placeholder="请输入关键词" autocomplete="off">
                  <button type="submit " class="h-btn h-btn-text-blue search-submit">
                    搜索 
                  </button>
                </form>
              </p>
              <div class="widget widget_recent_entries">
                <h2 class="widgettitle">
                  近期文章
                </h2>
                <ul>
                  <% RENDER_DATA.recentArticles10.splice(0, 5).forEach(function(article, index) { %>
                  <li>
                    <a href="/<%-article.numberId%>.html">
                      <%-article.title%>
                    </a>
                  </li>
                  <% }) %>
                </ul>
              </div>
              <div class="widget widget_categories">
                <h2 class="widget-title">
                  常用分类目录
                </h2>
                <ul>
                  <% WEB_CONFIG.categories.forEach(function(cat, index) { %>
                  <li class="cat-item cat-item-7">
                    <a href="./<%-cat.alias%>.html" title="<%-cat.intro%>">
                      <%-cat.name%>
                    </a>
                    (<%-cat.articleTotal%>)
                  </li>
                  <% }) %>
                </ul>
              </div>
              <p>
              </p>
              <div class="widget widget_tag_cloud">
                <h2 class="widgettitle">
                  标签
                </h2>
                <div class="tagcloud">
                  <% WEB_CONFIG.tags.forEach(function(tagName, index) { %>
                  <a href="/tags/<%-tagName%>.html" class="tag-cloud-link tag-link-position-1" style="font-size: 8pt;"
                    aria-label="<%-tagName%>"><%-tagName%></a>
                  <% }) %>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
      
      <% include ../common/right-aside.html %>
    </div>

    <% include ../common/foot.html %>
  </div>

  <% include ../common/bottom-right.html %>

  <% include ../common/common-script.html %>
</body>

</html>