<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <% include ../common/head.html %>
  <% if (RENDER_PARAM.prevArticle) { %>
  <link rel='prev' title='<%-RENDER_PARAM.prevArticle.title%>'
    href='h<%-WEB_CONFIG.origin%>/<%-RENDER_PARAM.prevArticle.numberId%>.html' />
  <% } %>
  <% if (RENDER_PARAM.nextArticle) { %>
  <link rel='prev' title='<%-RENDER_PARAM.nextArticle.title%>'
    href='<%-WEB_CONFIG.origin%>/<%-RENDER_PARAM.nextArticle.numberId%>.html' />
  <% } %>
  <link rel="canonical" href="<%-WEB_CONFIG.origin%>/<%-RENDER_PARAM.article.numberId%>.html" />
  <link rel='shortlink' href='<%-WEB_CONFIG.origin%>/<%-RENDER_PARAM.article.numberId%>.html' />
  <link type="text/css" media="all" href="<%-CONSTANT.THEME_STATIC%>/css/article.css" rel="stylesheet" />
</head>

<body class="post-template-default single single-post postid-582 single-format-standard wp-custom-logo">
  <div id="page" class="site">

    <% include ../common/top-menu.html %>

    <div id="content" class="site-content site_container container clear">
      <div id="primary" class="content-area">
        <div class="content-wrapper">
          <main id="main" class="site-main">
            <article id="post-<%-RENDER_PARAM.article.numberId%>"
              class="post-<%-RENDER_PARAM.article.numberId%> post type-post status-publish format-standard has-post-thumbnail hentry category-tech">
              <div class="single-breadcrumbs"> <span>您的位置</span> <i class="fa fa-angle-right"></i> <a href="/">首页</a> <i
                  class="fa fa-angle-right"></i> <a
                  href="/<%-RENDER_PARAM.article.categoryId.alias%>.html"><%-RENDER_PARAM.article.categoryId.name%></a>
              </div>
              <header class="entry-header">
                <h1 class="entry-title"><%-RENDER_PARAM.article.title%></h1>
                <div class="entry-meta">
                  <span class="entry-author"> 作者: <a href="/author/<%-RENDER_PARAM.article.userId.nickname%>.html">
                      <%-RENDER_PARAM.article.userId.nickname%> </a> </span>
                  <% if (RENDER_PARAM.article.isSource) { %>
                  <span class="entry-source"> 来源: <a
                      href="<%-RENDER_PARAM.article.sourceUrl ? RENDER_PARAM.article.sourceUrl : 'javascript:void(0);'%>"
                      target="_blank"><%-RENDER_PARAM.article.sourceName%> </span>
                  <% } %>
                  <span class="entry-date"> 发布: <%-helper.toDate(RENDER_PARAM.article.createTime, 3)%> </span> <span
                    class="entry-views"><i class="flaticon-eye"></i>
                    <%-RENDER_PARAM.article.visTotal%><em>阅读</em></span> <span class="entry-comment"><a
                      href="/<%-RENDER_PARAM.article.numberId%>.html#comments" class="comments-link"><i
                        class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>
                      <%-RENDER_PARAM.article.commentTotal%><em>评论</em></a></span> <span class="custom-share"> <span
                      class="bdsharebuttonbox"> <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a> <a
                        href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a> <a href="#" class="bds_sqq"
                        data-cmd="sqq" title="分享给QQ好友"></a> <a href="#" class="bds_qzone" data-cmd="qzone"
                        title="分享到QQ空间"></a> </span>
                  </span></div>
              </header>
              <div class="single-excerpt">
                <p><%-RENDER_PARAM.article.description%></p>
              </div>
              <div class="entry-content">
                <img width="780" height="460" src="<%-RENDER_PARAM.article.poster%>"
                  class="attachment-boke_x_single_thumb size-boke_x_single_thumb wp-post-image"
                  alt="<%-RENDER_PARAM.article.title%>" />
                <p><%-RENDER_PARAM.article.content%></p>
              </div>
              <% if (WEB_CONFIG.site.articleStatement !== '') {%>
              <div class="single-credit">
                <%-WEB_CONFIG.site.articleStatement%>
              </div>
              <% } %>
              <div class="entry-footer clear">
                <div class="entry-footer-right">
                  <% if (RENDER_PARAM.article.isWxpub) { %>
                  <button class="btn-primary btn-show-wxpub"><i class="fa fa-weixin"></i>&nbsp;微信公号</button>
                  <% } %>
                  <% if (RENDER_PARAM.article.isReward) { %>
                  <button class="btn-primary btn-show-reward"><i class="fa fa-jpy"></i>&nbsp;打赏作者</button>
                  <% } %>
                  <button id="" class="btn-primary btn-like" data-number-id="<%-RENDER_PARAM.article.numberId%>"
                    title="点赞文章">
                    <i class="fa fa-thumbs-o-up"></i>&nbsp;<span
                      id="likeTotal"><%-RENDER_PARAM.article.likeTotal%></span>&nbsp;点赞文章
                  </button>
                </div>
              </div>
              <div class="entry-bottom clear">
                <div class="entry-tags">
                  <span class="tag-links">
                    <span>标签:</span>
                    <% RENDER_PARAM.article.keywords.forEach(function(key) { %>
                    <a href="/tags/<%-encodeURIComponent(key)%>.html" rel="tag"><%-key%></a>
                    <% }) %>
                  </span>
                </div>
                <span class="custom-share">
                  <span class="bdsharebuttonbox">
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a href="#" class="bds_sqq" data-cmd="sqq" title="分享给QQ好友"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                  </span>
                </span>
              </div>
            </article>
            <% if (RENDER_PARAM.article.isAbout && RENDER_PARAM.article.userId.about) { %>
            <div class="author-box clear">
              <a href="/author/<%-RENDER_PARAM.article.userId.nickname%>.html">
                <img alt="<%-RENDER_PARAM.article.userId.nickname%>" src="<%-RENDER_PARAM.article.userId.avatar%>"
                  class="avatar avatar-120 photo" height="120" width="120"></a>
              <div class="author-meta">
                <h4 class="author-name">关于作者:
                  <span class="hover-underline">
                    <a
                      href="/author/<%-RENDER_PARAM.article.userId.nickname%>.html"><%-RENDER_PARAM.article.userId.nickname%></a>
                  </span>
                </h4>
                <div class="author-desc">
                  <%-RENDER_PARAM.article.userId.about%>
                </div>
              </div>
            </div>
            <% } %>

            <div class="related-content">
              <h3 class="section-title">相关文章</h3>
              <ul class="clear">
                <% RENDER_PARAM.relate.forEach(function(article, index) { %>
                <li class="hentry ht_grid_1_3">
                  <a class="thumbnail-link" href="/<%-article.numberId%>.html">
                    <div class="thumbnail-wrap thumbnail-related-article">
                      <img width="243" height="156" src="<%-article.poster%>"
                        class="attachment-boke_x_list_thumb size-boke_x_list_thumb wp-post-image"
                        alt="<%-article.title%>">
                    </div>
                  </a>
                  <h2 class="entry-title"><a href="/<%-article.numberId%>.html"><%-article.title%></a></h2>
                </li>
                <% }) %>
              </ul>
            </div>

            <div id="comments" class="comments-area">
              <div id="respond" class="comment-respond">
                评论组件正在加载中...
              </div>
            </div>
          </main>
        </div>
      </div>

      <% if (RENDER_PARAM.widthType !== 'full') { %>
      <% include ../common/right-aside.html %>
      <% } %>
    </div>

    <% include ../common/foot.html %>

  </div>

  <% include ../common/bottom-right.html %>

  <script>
    (function (window) {
      if (!window.__JSCMS_CONSTANT__) window.__JSCMS_CONSTANT__ = {};
      window.__JSCMS_CONSTANT__.article = {
        user: {
          "qrWx": <%-JSON.stringify(RENDER_PARAM.article.userId.qrWx) %> ,
          "qrWxpay": <%-JSON.stringify(RENDER_PARAM.article.userId.qrWxpay) %> ,
          "qrWxpub": <%-JSON.stringify(RENDER_PARAM.article.userId.qrWxpub) %> ,
          "qrAlipay": <%-JSON.stringify(RENDER_PARAM.article.userId.qrAlipay) %> ,
          "qrUnionpay": <%-JSON.stringify(RENDER_PARAM.article.userId.qrUnionpay) %>
        }
      };
    })(window);
  </script>

  <% include ../common/common-script.html %>

  <script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/js/article.js"></script>
</body>

</html>